.game-btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
top: 6%;
    left: 50%;
    transform: translate(-50%, 50%);

}

.Game-btn {
    border: 2px solid blue;
    padding: 2vh 5vw;
    border-radius: 25px;
   transition: all 0.2s ease-in;
   background-color: white;
   
}

.Game-btn:hover {
background-color: blue;
color:white;

}